*,
*::after,
*::before {
   box-sizing: border-box; 
}

@font-face {
   font-family: 'balqis';
   src: url('../fonts/balqis.woff2') format('woff2'),
        url('../fonts/balqis.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
}

@font-face {
   font-family: 'RobotoCondensed-Light';
   src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Light.woff') format('woff');
        font-weight: 300;
        font-style: normal;
        font-display: swap;
}

@font-face {
   font-family: 'RobotoCondensed-LightItalic';
   src: url('../fonts/RobotoCondensed-LightItalic.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-LightItalic.woff') format('woff');
        font-weight: 300;
        font-style: italic;
        font-display: swap;
}

@font-face {
   font-family: 'RobotoCondensed-Regular';
   src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

body {
    color: inherit;
    font-family: 'RobotoCondensed-Light';
    color: #000;
    font-size: 18px;
    line-height: 21px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.page-section {
    margin: 200px auto;
    max-width: 1920px;
}

.title {
    font-family: 'balqis';
    font-weight: 300;
    font-size: 96px;
    line-height: 128px;
    color: #E2AB3F;
    margin-bottom: 100px;
}

.title span {
    font-family: 'RobotoCondensed-LightItalic';
    font-size: 24px;
    line-height: 28px;
    color: #000;
    display: block;
    margin-top: -30px;
}

.header {
    height: 100vh;
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
}

.header__top {
    font-family: 'RobotoCondensed-Regular';
    display: flex;
    justify-content: space-between;
    padding-top: 72px;
    font-size: 24px;
    line-height: 28px;
}

.menu__list-item {
    display: inline-block;
}

.menu__list-item + .menu__list-item {
    margin-left: 52px;
}

.menu__list-link:hover {
    text-decoration: underline;
}

.header__phone {
    padding-left: 40px;
    position: relative;
}

.header__phone::before {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../images/phone-icon.svg);
    position: absolute;
    left: 0;
    top: 0;
}

.header__title {
    padding-top: 152px;
    text-align: center;
    font-family: 'balqis';
    font-size: 250px;
    line-height: 334px;
    font-weight: 300;
}

.header__title span {
    display: block;
    font-family: 'RobotoCondensed-LightItalic';
    text-align: right;
    font-size: 56px;
    line-height: 66px;
    margin-top: -66px;
    margin-right: 85px;
}


.fairy-tail__slider {
    width: 50%;
}

.slick-btn {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
    cursor: pointer; 
}

.slick-prev {
    left: 0;
}
.slick-next {
    right: 0;
}

.fairy-tail__inner {
    position: relative;
}

.fairy-tail__container,
.our-trip__container {
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.fairy-tail__body {
    width: 50%;
    height: 100%;
    margin-left: auto;
    padding-left: 55px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fairy-tail__body-title {
    font-family: 'RobotoCondensed-Regular';
}

.fairy-tail__title span {
    margin-left: 185px;
}

.fairy-tail__text {
    padding: 10px 0;
}

.our-trip__slider {
    width: 50%;
    margin-left: auto;
}

.our-trip__inner {
    position: relative;
}

.our-trip__title span {
    margin-left: 240px;
}

.our-trip__body {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.our-trip__list {
    margin: 5px 0;
    font-size: 24px;
    line-height: 28px;
}

.our-trip__list li:first-child {
    font-family: 'RobotoCondensed-Regular';
    margin-bottom: 20px;
}

.our-trip__btn {
    font-size: 24px;
    line-height: 28px;
    padding: 11px 54px;
    border: 1px solid #E2AB3F;
}

.hotel__title span {
    margin-left: 120px;
}

.hotel__inner {
    display: flex;
}

.hotel__images {
    margin-right: 100px;
}

.hotel__text {
    margin-bottom: 20px;
}

.hotel__gallery {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hotel__gallery a {
    margin-top: 50px;
}